body {
	font-family: Verdana, "Open Sans", sans-serif;
	background-color: #222;
	color: #ddd;
	margin: 0;
	padding: 0;
}

img {
	width: 3.5rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #111;
	color: #fff;
}

#navbar-header {
	display: flex;
	align-items: center;
}

.content {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem auto;
	width: 98%;
}

.column {
	flex: 1 0 25%;
	max-width: 33.33%;
	padding: 1rem;
	background-color: #333;
	color: #eee;
	margin: 0.5rem;
	text-align: center;
	height: 75vh;
	overflow-y: scroll;
}

.button-container {
	text-align: right;
}

.timer-set-header {
	display: flex;
	justify-content: space-between;
}

.alert-div {
	padding: 2%;
	text-align: left;
}

h1 {
	margin: 0.8rem 0;
}

.draggable-list {
	cursor: grab;
}

.draggable-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.draggable-list li {
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 0.3rem;
	background-color: #444;
	color: #ddd;
	cursor: move;
}

.draggable-list li.dragging {
	opacity: 0.5;
}

.header {
	display: flex;
	justify-content: space-between;
	overflow-y: scroll;
}

.header div {
	cursor: text;
}

.body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

progress[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	height: 10px;
	background-color: #222;
	width: 80%;

	border: 1px solid #111;
	border-radius: 0.3rem;
	margin: 4%;
	margin-top: 8%;

}

progress[value]::-webkit-progress-value {
	background-color: #fff;
	transition: background-color 0.5s ease-in-out;
}

progress[value]::-moz-progress-bar {
	background-color: #fff;
	transition: background-color 0.5s ease-in-out;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 1rem;
	height: 1rem;
	position: relative;
	top: 0.3rem;

	background-color: #222;
	border-radius: 0.3rem;
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
	background-color: #ffffff;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 0.3rem;
		height: 0.6rem;

		border: none;
		box-shadow: 0.3rem 0.3rem lightblue;
		border-width: 0 0.2rem 0.2rem 0;
		transform: rotateZ(45deg);
	}
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	margin: 0.6rem 0.3rem;

	padding: 0.4rem 0.9rem;
	font-size: 0.9rem;
	color: #fff;
	background-color: #222;

	border-radius: 0.25rem;
	transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

button:hover {
	background-color: #111;
	transform: scale(1.02);
}

button:disabled {
	opacity: 0.6;
	cursor: not-allowed;

	background-color: #ddd;
	color: #888;
}

#import-btn {
	display: none;
}

.alert-label {
	padding: 0.6rem;
}

.duration-picker {
	width: 70%;
}

.nav-btn {
	width: 40%;
}

.hidden {
	display: none;
}

#modal {
	position: fixed;
	top: 50%;
	left: 50%;

	height: 90%;
	width: 80%;
	transform: translate(-50%, -50%);

	padding: 1rem;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

	z-index: 10;
	padding: 1.5rem;
	background-color: #222;
	overflow-y: scroll;
}

#modal button {
	background-color: #333;
}

#modal button:hover {
	background-color: #111;
}

#modal header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.75rem;
}

#modal section {
	margin-bottom: 0.75rem;
}

#license-header,
#title {
	cursor: pointer;
}

#license-text {
	display: none;
	padding: 0.5rem;
	border: 0.05rem solid #ddd;
	border-radius: 0.15rem;
}

a,
#license-header {
	color: #fff;
	text-decoration: underline;
}

a:hover,
#license-header {
	font-weight: bolder;
}

#license-section a {
	font-weight: bold;
}

.goto-btn {
	display: none;
}

@media screen and (max-width: 768px) {

	.column {
		flex: 1 0 50%;
		max-width: 92.5%;
		height: auto;
		min-height: 80vh;
	}

	.navbar {
		flex-direction: column;
		padding: 0rem;
	}

	#navbar-header,
	.utilities {
		width: 95%;
	}

	#navbar-header {
		padding: 3% 0 0 5%;
		margin: 0;
	}

	.utilities {
		display: flex;
		justify-content: flex-end;
		padding: 0 3% 0 0;
	}

	#navbar-header {
		align-content: flex-start;
	}

	#countdown:empty {
		display: none;
	}

	#countdown:not(:empty) {
		position: fixed;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -50%);

		background-color: #111;
		padding: 1rem;
		margin: 0;

		width: 80%;
		opacity: 0.9;
		color: #fff;
	}

	#modal {
		height: 85%;
	}

	#timers-list,
	#active-timer-section {
		display: none;
	}

	.goto-btn {
		all: unset;
		cursor: pointer;
		margin: 0.6rem 0rem;

		padding: 0.3rem 0.8rem;
		font-size: 0.95rem;
		color: #fff;
		background-color: #222;

		border-radius: 0.25rem;
		transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
	}

	.goto-btn:disabled {
		opacity: 0.6;
		cursor: not-allowed;
		padding: 0.25rem 0.8rem;
		font-size: 0.95rem;

		background-color: #ddd;
		color: #888;
	}
}
